.shadow{
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
label{
    font-size: 14px;
    font-family:'Arima',sans-serif;
    color:rgb(7, 7, 7)
}
form{
    margin: 3%;  
    
}
.diff{
    margin-top: 3%;
}